version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      timezone: "America/Sao_Paulo"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(ci):"
